name: Ejecucion Automatica del Bot
on:
  workflow_dispatch: # Botón manual
  schedule:
    - cron: '0 8 * * *' # 8:00 AM UTC todos los días

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Descargar codigo
        uses: actions/checkout@v3

      - name: Configurar Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'

      - name: Instalar Dependencias
        run: pip install requests gspread google-auth

      - name: Ejecutar el Bot de Analisis
        env:
          GEMINI_API_KEY: ${{ secrets.GEMINI_API_KEY }}
          GOOGLE_SHEETS_CREDENTIALS: ${{ secrets.GOOGLE_SHEETS_CREDENTIALS }}
        run: python bot.py
